<div class="footer" id="footer">
  <a href="/">
    <img class="e2s-logo" src="../../assets/logo.svg" alt="logo" />
  </a>

  <h1>Get in touch</h1>

  <p>
    Enes Bilek (Founder):
    <a href="mailto:enesbilek34@gmail.com">enesbilek34@gmail.com</a>
  </p>

  <p>
    Lois Leung (Co-director):
    <a href="mailto:leungchingheilois@gmail.com">leungchingheilois@gmail.com</a>
  </p>

  <div class="insta-link">
    <a href="https://www.instagram.com/english_to_success/">
      <img src="../../assets/instagram.svg" alt="insta">
    </a>
    <p>E2S Instagram</p>
  </div>

  <p>Copyright E2S 2024</p>
</div>
