<div class="content">
  <div class="about">
    <h1>What is this initiative about?</h1>
    <p>
      English2Success is a voluntary teaching initiative aiming to provide
      quality online English education for underprivileged teens worldwide
    </p>
    <p>
      English knowledge is important to access global opportunities to improve
      one’s circumstances. If people from developing countries improve their
      circumstances, hopefully, they will improve their families’ circumstances,
      and eventually, their entire communities
    </p>
    <p>
      However, most students from developing or under-developed countries do not
      have access to good English education. E2S has been developed as a
      solution.
    </p>
  </div>

  <div class="course">
    <h1>Main Course Objectives</h1>
    <p>
      Provide students with free, no-strings-attached English education.
      Increase students’ exposure to and confidence in speaking English. Foster
      cross-cultural understanding. Develop tutors’ teaching skills.
    </p>
    <p>
      E2S Contributes towards the UN sustainable development goals #4 and #10.
      Please put images of the two goals and the following descriptions <br />
      Description for goal 4: The main goal of E2S is to provide quality
      education to the communities that need it the most. Description for goal
      10: In addition to only recruiting students from refugee backgrounds or
      developing countries, we prioritize the people that we believe need it the
      most. This year, many of our students are girls from Afghanistan, Laos,
      India etc.
    </p>
  </div>

  <div class="how-it-works">
    <h1>How the project works?</h1>
    <p>
      Volunteer tutors would be paired up with students from underprivileged
      backgrounds. The tutor contacts and familiarizes themselves with the
      student. The tutor meets with the students online once per week to help
      them improve their English skills through a diverse range of exercises.
      Regular meetings are also held among teachers to monitor the progress of
      and ensure the quality of the lessons
    </p>
  </div>

  <div class="directors">
    <h1>Project Directors</h1>

    <h2>Muhammed Enes Bilek (Türkiye)</h2>
    <h3>Founder, UWC RBC Coordinator</h3>
    <p>
      Having understood how important English knowledge is for finding
      opportunities in life, Enes founded E2S in late 2022, starting the project
      with a team of 3 tutors. Enes currently oversees the team in RBC as well
      as the development of E2S as a whole, its vision, and its connections in
      general.
    </p>

    <h2>Leung Ching Hei, Lois (Hong Kong)</h2>
    <h3>Co-director, UWC Mostar Coordinator</h3>
    <p>
      Lois is very concerned with the injustices around the world and sees
      access to education as one. She joined E2S in 2023 to help expand the
      project in Mostar and brought together a team of twenty teachers. She is
      currently responsible for overseeing the Mostar team, developing the E2S
      vision and the E2S curriculum, its social media, and the website.
    </p>
  </div>

  <div class="approach">
    <h1>Our Approach</h1>
    <h2>The Problem</h2>
    <p>
      Most developing or underdeveloped countries provide reasonable vocabulary
      and grammar lessons in English, but are unable to provide good speaking
      lessons. Hence, students never learn English.
    </p>

    <h2>The Significance</h2>
    <p>
      English knowledge is important to access global opportunities to improve
      one’s circumstances. If people from developing countries improve their
      circumstances, hopefully they will improve their families’ circumstances,
      and eventually, their entire communities. Lack of English knowledge
      prevents that.
    </p>
  </div>
</div>
